<!DOCTYPE html>
<html>
<head>
  <title>Current Valuations by Sector</title>
</head>
<body>
  <a href="/valuations">Current Valuations</a>
  <a href="/addHolding">Add Holding</a>
  <a href="/viewHoldings">View Holdings</a>
  <a href="/">Evaluate</a>
  <h1>Current Valuations by Sector</h1>
  {% for sector, stocks in results.items() %}
    <h2>{{ sector }}</h2>
    <table>
      <thead>
        <tr>
		<th>Name</th>
		<th>Symbol</th>
		<th>OWNED</th>
		<th>Share Price</th>
		<th>P/E Ratio</th>
		<th>Yield</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
	{% if stock.pe|float() < 10 %}
          <tr style="background-color:green">
        {% else %}
          <tr>
        {% endif %}
		<td>{{ stock.name }}</td>
		<td align="center">{{ stock.symbol }}</td>
		<td align="center">0</td>
		<td align="center">{{ stock.share_price }}</td>
		<td align="center">{{ stock.pe }}</td>
		<td align="center">TBD</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</body>
</html>

